# files
*.pyc
*-checkpoint.ipynb
*.log
*.dat
*.bak
*.csv
*.dot
*.zip

# folder 
/Archive/Dataset/*-py
/Archive/Dataset/*.gz
/Archive/Dataset/*/*-py
/Archive/Dataset/*/*.gz
/Archive/Dataset/cifar*
/Archive/Dataset/encodeData/
/Archive/Experiments/*/
/Archive/SurrogateModel/data/.ipynb_checkpoints/eng-fra-checkpoint.txt
/Archive/SurrogateModel/.ipynb_checkpoints/data-checkpoint.txt
/Archive/SurrogateModel/RankNetLambda.py
/Archive/SurrogateModel/data.txt
