[MASTER]
init-hook='import sys; sys.path.append(["./Engine",
                                        "./EvolutionAlgorithm",
                                        "./Population",
                                        "./Experiments"])'